<template>
  <b-avatar
    class="vm-favorite-item"
    :class="{ 'vm-favorite-item__permanent': isFavorite }"
    :src="icon"
    size="2rem"
    @click.stop="$emit('click')"
  />
</template>

<script>
export default {
  name: 'FavoriteItem',

  props: {
    isFavorite: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    icon() {
      const variant = this.isFavorite ? '' : '-off';
      return require(`../assets/icons/voice-favourite${variant}.svg`);
    }
  }
};
</script>

<style scoped lang="scss">
.vm-favorite-item {
  padding: 6px;
  position: absolute;
  top: 0;
  right: 18%;
  opacity: 0;

  &.vm-favorite-item__permanent {
    opacity: 1;
  }
}
</style>
