<template>
  <div
    class="d-flex justify-content-center justify-content-sm-start align-items-center"
  >
    <img
      src="../assets/icons/button-random.svg"
      alt="Random"
      class="vm-random-selector"
      :class="{ 'vm-random-selector__rotating': !!timeout }"
      @click="randomize"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { GET_VOICES, SELECT_VOICE } from '../store';

const TIMEOUT = 300;
const MODIFIER = 10;

export default {
  name: 'RandomSelector',

  data() {
    return {
      timeout: null
    };
  },

  computed: {
    ...mapGetters({
      voices: GET_VOICES
    })
  },

  methods: {
    ...mapActions({ selectVoice: SELECT_VOICE }),

    goToSelected() {
      this.$nextTick(() => {
        const el = document.querySelector('.vm-voice-list__item-selected');

        el.scrollIntoView({ block: 'center', behavior: 'smooth' });
      });
    },

    randomize() {
      if (this.timeout !== null) return;
      this.timeout = TIMEOUT;

      this.randomVoice();
    },

    randomVoice() {
      if (this.timeout <= 0) {
        this.timeout = null;
        this.goToSelected();
        return;
      }

      setTimeout(() => {
        const voice = this.voices[
          Math.floor(Math.random() * this.voices.length)
        ];

        this.selectVoice({ voice });
        this.timeout = this.timeout - MODIFIER;
        this.randomVoice();
      }, this.timeout);
    }
  }
};
</script>

<style scoped lang="scss">
@-webkit-keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.vm-random-selector {
  &:hover {
    cursor: pointer;
  }

  &.vm-random-selector__rotating {
    -webkit-animation: beat 1s infinite linear;
  }
}
</style>
