<template>
  <div>
    <img src="../assets/icons/order.svg" class="mr-2" alt="Order" />
    <b-dropdown
      class="vm-btn-dropdown"
      right
      variant="dark"
      size="sm"
      :text="selectedSort"
    >
      <template v-for="(option, index) in sortOptions">
        <b-dropdown-item :key="option" class="py-1" @click="setSort(option)">
          {{ option }}
        </b-dropdown-item>
        <b-dropdown-divider
          :key="`${option}__divider`"
          v-if="index !== sortOptions.length - 1"
        />
      </template>
    </b-dropdown>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { GET_SELECTED_SORT, GET_SORT_VALUES, SET_SORT_VALUE } from '../store';

export default {
  name: 'SortSelector',

  computed: {
    ...mapGetters({
      sortOptions: GET_SORT_VALUES,
      selectedSort: GET_SELECTED_SORT
    })
  },

  methods: {
    ...mapActions({
      setSortValue: SET_SORT_VALUE
    }),

    setSort(sort) {
      this.setSortValue({ sort });
    }
  }
};
</script>

<style scoped></style>
