<template>
  <p v-if="isEmpty">
    {{ emptyMessage }}
  </p>
  <b-row v-else>
    <voice-list-item
      v-for="item in items"
      :key="item.id"
      :voice="item"
      :selected="selectedVoiceId === item.id"
      :is-favorite="favorites.includes(item.id)"
    />
  </b-row>
</template>

<script>
import { mapGetters } from 'vuex';
import VoiceListItem from './VoiceListItem';
import { GET_SELECTED_VOICE } from '../store';

export default {
  name: 'VoiceList',

  components: { VoiceListItem },

  props: {
    items: {
      type: Array,
      default: () => []
    },

    favorites: {
      type: Array,
      default: () => []
    },

    emptyMessage: {
      type: String,
      default: 'There are no items to show'
    }
  },

  computed: {
    ...mapGetters({
      selectedVoice: GET_SELECTED_VOICE
    }),

    isEmpty() {
      return this.items.length === 0;
    },

    selectedVoiceId() {
      return this.selectedVoice ? this.selectedVoice.id : null;
    }
  }
};
</script>

<style scoped></style>
