<template>
  <b-col
    cols="6"
    md="3"
    lg="2"
    class="vm-voice-list__item text-center mb-3"
    :class="{ 'vm-voice-list__item-selected': selected }"
    @click="itemClicked"
  >
    <b-avatar class="vm-voice-avatar" :src="icon" size="inherit" />
    <p class="mt-2">{{ voice.name }}</p>
    <favorite-item :is-favorite="isFavorite" @click="itemFavorite" />
  </b-col>
</template>

<script>
import { mapActions } from 'vuex';
import FavoriteItem from './FavoriteItem';
import { SELECT_VOICE, TOGGLE_FAVORITE_VOICE } from '../store';
const fields = ['id', 'name', 'icon', 'tags'];

export default {
  name: 'VoiceListItem',

  components: { FavoriteItem },

  props: {
    voice: {
      type: Object,
      validate: item =>
        fields.reduce(
          (field, carry) =>
            Object.prototype.hasOwnProperty.call(item, field) && carry,
          true
        )
    },

    selected: {
      type: Boolean,
      default: false
    },

    isFavorite: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    icon() {
      return require(`../assets/images/${this.voice.icon}`);
    }
  },

  methods: {
    ...mapActions({
      toggleFavorite: TOGGLE_FAVORITE_VOICE,
      selectVoice: SELECT_VOICE
    }),

    itemFavorite() {
      const { voice } = this;
      this.toggleFavorite({ voice });
    },

    itemClicked() {
      const { voice } = this;
      this.selectVoice({ voice });
    }
  }
};
</script>

<style scoped lang="scss">
@import 'src/assets/scss/variables';

.vm-voice-list__item {
  &.vm-voice-list__item-selected {
    .vm-voice-avatar.b-avatar {
      background-color: #35cafc;
    }
  }

  .vm-voice-avatar.b-avatar {
    width: 100%;
    height: auto;
  }

  p {
    color: $secondary;
    font-weight: 600;
    font-size: 12px;
  }

  &:hover {
    cursor: pointer;
    .b-avatar {
      background-color: $white;
    }
    p {
      color: $white;
    }
    .vm-favorite-item {
      opacity: 1;
    }
  }
}
</style>
